<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <environment names="Staging,Production">
        <!-- Bootstrap Core CSS -->
        <link href="~/SBAdmin2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="~/SBAdmin2/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="~/SBAdmin2/dist/css/sb-admin-2.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="~/SBAdmin2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    </environment>

    <environment include="Development">    

        <!-- Bootstrap Core CSS -->
        <link href="~/SBAdmin2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="~/SBAdmin2/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="~/SBAdmin2/dist/css/sb-admin-2.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="~/SBAdmin2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    </environment>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            
            
            @Html.Partial("_HeaderNavBar")
            <!-- /.navbar-header -->

            @Html.Partial("_TopNavBar")
            <!-- /.navbar-top-links -->

            @Html.Partial("_LeftSideBar")
            <!-- /.navbar-static-side -->
        </nav>

        @RenderBody()
        

    </div>
    <!-- /#wrapper -->
    <environment names="Staging,Production">
        <!-- jQuery -->
        <script src="~/SBAdmin2/vendor/jquery/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="~/SBAdmin2/vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="~/SBAdmin2/vendor/metisMenu/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="~/SBAdmin2/dist/js/sb-admin-2.js"></script>   

    </environment>

    <environment include="Development">
        
        <!-- jQuery -->
        <script src="~/SBAdmin2/vendor/jquery/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="~/SBAdmin2/vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="~/SBAdmin2/vendor/metisMenu/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="~/SBAdmin2/dist/js/sb-admin-2.js"></script>   

    </environment>
    

</body>

</html>